<!DOCTYPE html>
<html ng-app ng-controller="AdminCtrl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Administração :: Vrio</title>
  


  <!-- ========= -->
  <!--    CSS    -->
  <!-- ========= -->
 <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"> 
  <style type="text/css">
   /*CSS*/
   /* custom inclusion of right, left and below tabs */

.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}


.tabs-left > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a{
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tab-content label{
  font-weight:normal;
  width:100%;
  display:block;
}

.list-group{
  margin-left: 92px;
  margin-top: 10px;
  min-height: 600px;
  max-height: 700px;
  overflow: auto;
}

.mt40{margin-top: 40px}

.tabbable{
  border-right: 1px solid #ddd;
  min-height: 400px;
}

#editar_foto{
  position: absolute;
  z-index: 100;
  padding: 2px;
  text-align: center;
  top: 75px;
  left: 40px;
  font-size: 11px;
}

#carregando {
width: 155px;
height: 44px;
padding: 11px 10px;
background-color: #C00;
color: #FFF;
position: fixed;
top: 0;
right: 0;
font-weight: bold;
z-index: 9000 ;
}

.nav>li>a {
position: relative;
display: block;
padding: 5px 15px;
}

.bar {
    height: 18px;
    background: green;
}
  </style>  
</head>
<body>
  <!-- ========= -->
  <!-- Your HTML -->
  <!-- ========= -->
<div class="container"> 


  <div class="row">
    
    <h1>Administração :: Vrio</h1>

  </div>
  
  <hr>

   <div class="alert fade in">
    <div id="msg_alert"></div>
  </div>

  <ul id="menu" class="nav nav-pills hide">
    <li ng-class="{'active': 1 == menu_ativo}"><a href="#" ng-click="viewCustomer()">Clientes</a></li>
    <li ng-class="{'active': 2 == menu_ativo}"><a href="#" ng-click="viewBanheiro()">Locais</a></li>
    <li ng-class="{'active': 3 == menu_ativo}"><a href="#" ng-click="viewProduto()">Produtos</a></li>
    <li ng-class="{'active': 4 == menu_ativo}"><a href="#" ng-click="viewVenda()">Vendas</a></li>
    <li ng-class="{'active': 5 == menu_ativo}"><a href="#" ng-click="viewResgate()">Resgate</a></li>
    <!-- <li ng-class="{'active': 6 == menu_ativo}"><a href="#" ng-click="viewPonto()">Pontos de Resgate</a></li> -->
    <li ng-class="{'active': 9 == menu_ativo}"><a href="#" ng-click="viewUser()">Usuários</a></li>
    <li><a href="#" ng-click="logout()">Sair</a></li>
  </ul>

  <div id="login" class="row mt40 hide tela">

      <fieldset>
        <legend>Login</legend>
        <label>E-mail</label>
        <input type="text" ng-model="user.email">
        <label>Senha</label>
        <input type="password" ng-model="user.senha">
        <button type="button" class="btn" ng-click="login()">Entrar</button>
      </fieldset>

  </div>

  <!-- CUSTOMER -->
  <div id="customer" class="row mt40 hide tela">
     
             <div class="tabbable tabs-left col-sm-7">

                <div class="tab-content">

                    <!-- input buscar -->
                        <div class="">
                                <div class="input-group">

                                  <input type="text" class="form-control" ng-model="buscar.nome">

                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                      
                                      <span class="glyphicon glyphicon-search"></span>

                                    </button>
                                  </span>
                                </div>
                        </div>
                      <!-- fim input buscar -->
                  
                    <table class="table">
                      <th>Data de cadastro</th>
                      <th>Nome</th>
                      <th>Email</th>
                      <th>Celular</th>
                      <tbody>
                        <tr ng-repeat="cust in customers | filter:buscar" ng-click="visualizarCustomer($index,cust)" ng-class="{'active': $index == ativo_customer}">
                          <td>{{cust.data_cadastro}}</td>
                          <td>{{cust.nome}}</td>
                          <td>{{cust.email}}</td>
                          <td>{{cust.celular}}</td>
                        </tr>
                      </tbody>
                    </table>

                </div>

           
            </div>

            <div class="tab-content col-sm-5 tab-conteudo">
              <h4 id="nome">
                {{customer_view.nome}} {{customer_view.sobrenome}}
              </h4>
             <hr>
              <label><strong>CPF:</strong> <label id="email">{{customer_view.cpf}}</label></label>
              <label><strong>E-mail:</strong> <label id="email">{{customer_view.email}}</label></label>
              <label><strong>Celular:</strong> <label id="celular">{{customer_view.celular}}</label></label>
              <label><strong>Sexo:</strong> <label id="sexo">{{customer_view.sexo}}</label></label>
              <label><strong>Ativo:</strong> <label id="ativo">{{customer_view.ativo == 1 && 'SIM' || 'NÃO'}}</label></label>

              <a href="#" data-toggle="modal" data-target="#modalCadastroCustomer"  class="btn-md tip" role="button" data-toggle="tooltip" title="Editar"><span class="glyphicon glyphicon-edit"></span></a>

              <a id="deletar_contato" class="tip" data-toggle="tooltip" title="Deletar" style="margin-bottom:10px"  role="button" ng-click="deletarCustomer(customer_view.id)"><span class="glyphicon glyphicon-trash"></span></a>

            </div>

  </div> 

<!-- Modal Cadastro Customer -->
<div class="modal fade" id="modalCadastroCustomer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Cadastro</h4>
      </div>
      <div class="modal-body">

        <form name="formCadastro">
          <input type="hidden" value="0" ng-model="customer_view.id">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nome"  ng-model="customer_view.nome">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Sobrenome"  ng-model="customer_view.sobrenome">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="E-mail"  ng-model="customer_view.email">
          </div>
          <div class="form-group">
            <label>Sexo:</label>
            <select class="form-control" ng-model="customer_view.sexo">
              <option value="F">Feminino</option>
              <option value="M">Masculino</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Celular"  ng-model="customer_view.celular">
          </div>
          <div class="form-group">
            <label>Ativo:</label>
            <select class="form-control" ng-model="customer_view.ativo">
              <option value="1">SIM</option>
              <option value="0">NÃO</option>
            </select>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="salvarCustomer()">Salvar</button>
      </div>
    </div> <!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- BANHEIRO -->
<div id="banheiro" class="row mt40 hide tela">
   
           <div class="tabbable tabs-left col-sm-7">

              <div class="tab-content">
                <a href="#" data-toggle="modal" data-target="#modalCadastroBanheiro" style="margin-bottom:10px" class="btn btn-success" role="button"><span class="glyphicon glyphicon-plus"></span></a>

                  <!-- input buscar -->
                      <div class="">
                              <div class="input-group">

                                <input type="text" class="form-control" ng-model="buscar.nome">

                                <span class="input-group-btn">
                                  <button class="btn btn-default" type="button">
                                    
                                    <span class="glyphicon glyphicon-search"></span>

                                  </button>
                                </span>
                              </div>
                      </div>
                    <!-- fim input buscar -->
                
                  <table class="table">
                    <th>Data de cadastro</th>
                    <th>Tipo</th>
                    <th>Descrição</th>
                    <tbody>
                      <tr ng-repeat="banh in banheiros | filter:buscar" ng-click="visualizarBanheiro($index,banh)" ng-class="{'active': $index == ativo_banheiro}">
                        <td>{{banh.data_cadastro}}</td>
                        <td>{{banh.tipo == 'B' && 'Banheiro' || 'Ponto de Resgate'}}</td>
                        <td>{{banh.descricao}}</td>
                      </tr>
                    </tbody>
                  </table>

              </div>

         
          </div>

          <div class="tab-content col-sm-5 tab-conteudo">
            <h4 id="nome">
              <label><strong>Tipo:</strong> <label id="tipo">{{banheiro_view.tipo == 'B' && 'Banheiro' || 'Ponto de Resgate'}}</label></label>
              {{banheiro_view.descricao}}
            </h4>
           <hr>
            <label>
              <strong>Endereço:</strong> 
              <label id="endereco">
                {{banheiro_view.logradouro}}, {{banheiro_view.numero}}, {{banheiro_view.bairro}}, {{banheiro_view.cep}}, {{banheiro_view.cidade}}/{{banheiro_view.uf}}
              </label>
            </label>
            <label><strong>Ativo:</strong> <label id="ativo">{{banheiro_view.ativo == 1 && 'SIM' || 'NÃO'}}</label></label>

            <a href="#" data-toggle="modal" data-target="#modalCadastroBanheiro"  class="btn-md tip" role="button" data-toggle="tooltip" title="Editar"><span class="glyphicon glyphicon-edit"></span></a>

            <a id="deletar_contato" class="tip" data-toggle="tooltip" title="Deletar" style="margin-bottom:10px"  role="button" ng-click="deletarBanheiro(banheiro_view.id)"><span class="glyphicon glyphicon-trash"></span></a>

          </div>

</div> 

<!-- Modal Cadastro Banheiro -->
<div class="modal fade" id="modalCadastroBanheiro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Cadastro</h4>
      </div>
      <div class="modal-body">

        <form name="formCadastro">
          <input type="hidden" value="0" ng-model="banheiro_view.id">
          <div class="form-group">
            <label>Tipo:</label>
            <select class="form-control" ng-model="banheiro_view.tipo">
              <option value="B">Banheiro</option>
              <option value="P">Ponto de Resgate</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Descrição"  ng-model="banheiro_view.descricao">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Logradouro"  ng-model="banheiro_view.logradouro">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Número"  ng-model="banheiro_view.numero">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Bairro"  ng-model="banheiro_view.bairro">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="CEP"  ng-model="banheiro_view.cep">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Cidade"  ng-model="banheiro_view.cidade">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="UF"  ng-model="banheiro_view.uf">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Latitude"  ng-model="banheiro_view.latitude">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Longitude"  ng-model="banheiro_view.longitude">
          </div>
          <div class="form-group">
            <label>Ativo:</label>
            <select class="form-control" ng-model="banheiro_view.ativo">
              <option value="1">SIM</option>
              <option value="0">NÃO</option>
            </select>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="salvarBanheiro()">Salvar</button>
      </div>
    </div> <!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- PRODUTO -->
<div id="produto" class="row mt40 hide tela">
   
           <div class="tabbable tabs-left col-sm-7">

              <div class="tab-content">
                <a href="#" data-toggle="modal" data-target="#modalCadastroProduto" style="margin-bottom:10px" class="btn btn-success" role="button"><span class="glyphicon glyphicon-plus"></span></a>

                  <!-- input buscar -->
                      <div class="">
                              <div class="input-group">

                                <input type="text" class="form-control" ng-model="buscar.descricao">

                                <span class="input-group-btn">
                                  <button class="btn btn-default" type="button">
                                    
                                    <span class="glyphicon glyphicon-search"></span>

                                  </button>
                                </span>
                              </div>
                      </div>
                    <!-- fim input buscar -->
                
                  <table class="table">
                    <th>Id</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Ativo</th>
                    <tbody>
                      <tr ng-repeat="prod in produtos | filter:buscar" ng-click="visualizarProduto($index,prod)" ng-class="{'active': $index == ativo_produto}">
                        <td>{{prod.id}}</td>
                        <td>{{prod.descricao}}</td>
                        <td>{{prod.valor}}</td>
                        <td>{{prod.ativo == 1 && 'SIM' || 'NÃO'}}</td>
                      </tr>
                    </tbody>
                  </table>

              </div>

         
          </div>

          <div class="tab-content col-sm-5 tab-conteudo">
            <h4 id="nome">
              {{produto_view.descricao}}
            </h4>
           <hr>
            <label><strong>Valor:</strong> <label id="endereco">{{produto_view.valor}}</label></label>
            <label><strong>Ativo:</strong> <label id="ativo">{{produto_view.ativo == 1 && 'SIM' || 'NÃO'}}</label></label>

            <a href="#" data-toggle="modal" data-target="#modalCadastroProduto"  class="btn-md tip" role="button" data-toggle="tooltip" title="Editar"><span class="glyphicon glyphicon-edit"></span></a>

            <a id="deletar_contato" class="tip" data-toggle="tooltip" title="Deletar" style="margin-bottom:10px"  role="button" ng-click="deletarProduto(produto_view.id)"><span class="glyphicon glyphicon-trash"></span></a>

          </div>

</div> 

<!-- Modal Cadastro Produto -->
<div class="modal fade" id="modalCadastroProduto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Cadastro</h4>
      </div>
      <div class="modal-body">

        <form name="formCadastro">
          <input type="hidden" value="0" ng-model="produto_view.id">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Descrição"  ng-model="produto_view.descricao">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Valor"  ng-model="produto_view.valor">
          </div>
          <div class="form-group">
            <label>Ativo:</label>
            <select class="form-control" ng-model="produto_view.ativo">
              <option value="1">SIM</option>
              <option value="0">NÃO</option>
            </select>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="salvarProduto()">Salvar</button>
      </div>
    </div> <!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
  

  <!-- VENDAS -->
  <div id="venda" class="row mt40 hide tela">
     
             <div class="tabbable tabs-left col-sm-7">

                <div class="tab-content">

                    <!-- input buscar -->
                        <div class="">
                                <div class="input-group">

                                  <input type="text" class="form-control" ng-model="buscar.nome">

                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                      
                                      <span class="glyphicon glyphicon-search"></span>

                                    </button>
                                  </span>
                                </div>
                        </div>
                      <!-- fim input buscar -->
                  
                    <table class="table">
                      <th>Id</th>
                      <th>Data de Venda</th>
                      <th>Cliente</th>
                      <th>Forma Pgto</th>
                      <th>Valor</th>
                      <tbody>
                        <tr ng-repeat="vend in vendas | filter:buscar" ng-click="visualizarVenda($index,vend)" ng-class="{'active': $index == ativo_venda}">
                          <td>{{vend.id}}</td>
                          <td>{{vend.data_cadastro}}</td>
                          <td>{{vend.cliente}}</td>
                          <td>{{vend.forma_ogto}}</td>
                          <td>{{vend.valor_total}}</td>
                        </tr>
                      </tbody>
                    </table>

                </div>
            </div>

            <div class="tab-content col-sm-5 tab-conteudo">
              <h4 id="nome">{{venda_view.id}} / {{venda_view.cliente}}</h4>
              <hr>
              <label><strong>Data:</strong> <label id="email">{{venda_view.data_cadastro}}</label></label>
              <label><strong>Forma Pgto:</strong> <label id="celular">{{venda_view.forma_pgto}}</label></label>
              <label><strong>Negociação ID:</strong> <label id="sexo">{{venda_view.negociacao_id}}</label></label>
              <label><strong>Valor:</strong> <label id="ativo">{{venda_view.valor_total}}</label></label>
              <hr>
              <h4>Produtos</h4>
            </div>

  </div> 

  <!-- PONTOS DE RESGATE -->
<!-- <div id="ponto" class="row mt40 hide tela">
   
           <div class="tabbable tabs-left col-sm-7">

              <div class="tab-content">
                <a href="#" data-toggle="modal" data-target="#modalCadastroPonto" style="margin-bottom:10px" class="btn btn-success" role="button"><span class="glyphicon glyphicon-plus"></span></a>

                  <!-- input buscar 
                      <div class="">
                              <div class="input-group">

                                <input type="text" class="form-control" ng-model="buscar.nome">

                                <span class="input-group-btn">
                                  <button class="btn btn-default" type="button">
                                    
                                    <span class="glyphicon glyphicon-search"></span>

                                  </button>
                                </span>
                              </div>
                      </div>
                    <!-- fim input buscar 
                
                  <table class="table">
                    <th>Data de cadastro</th>
                    <th>Descrição</th>
                    <tbody>
                      <tr ng-repeat="pont in pontos | filter:buscar" ng-click="visualizarPonto($index,pont)" ng-class="{'active': $index == ativo_ponto}">
                        <td>{{pont.data_cadastro}}</td>
                        <td>{{pont.descricao}}</td>
                      </tr>
                    </tbody>
                  </table>

              </div>

         
          </div>

          <div class="tab-content col-sm-5 tab-conteudo">
            <h4 id="nome">
              {{ponto_view.descricao}}
            </h4>
           <hr>
            <label><strong>Endereço:</strong> <label id="endereco">{{ponto_view.logradouro}}, {{ponto_view.numero}}, {{ponto_view.bairro}}, {{ponto_view.cep}}, {{ponto_view.cidade}}/{{ponto_view.uf}}
            </label></label>
            <label><strong>Ativo:</strong> <label id="ativo">{{ponto_view.ativo == 1 && 'SIM' || 'NÃO'}}</label></label>

            <a href="#" data-toggle="modal" data-target="#modalCadastroPonto"  class="btn-md tip" role="button" data-toggle="tooltip" title="Editar"><span class="glyphicon glyphicon-edit"></span></a>

            <a id="deletar_contato" class="tip" data-toggle="tooltip" title="Deletar" style="margin-bottom:10px"  role="button" ng-click="deletarPonto(ponto_view.id)"><span class="glyphicon glyphicon-trash"></span></a>

          </div>

</div> 

Modal Cadastro Ponto
<div class="modal fade" id="modalCadastroPonto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Cadastro</h4>
      </div>
      <div class="modal-body">

        <form name="formCadastro">
          <input type="hidden" value="0" ng-model="ponto_view.id">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Descrição"  ng-model="ponto_view.descricao">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Logradouro"  ng-model="ponto_view.logradouro">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Número"  ng-model="ponto_view.numero">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Bairro"  ng-model="ponto_view.bairro">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="CEP"  ng-model="ponto_view.cep">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Cidade"  ng-model="ponto_view.cidade">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="UF"  ng-model="ponto_view.uf">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Latitude"  ng-model="ponto_view.latitude">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Longitude"  ng-model="ponto_view.longitude">
          </div>
          <div class="form-group">
            <label>Ativo:</label>
            <select class="form-control" ng-model="ponto_view.ativo">
              <option value="1">SIM</option>
              <option value="0">NÃO</option>
            </select>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="salvarPonto()">Salvar</button>
      </div>
    </div> <!-- /.modal-content
 </div><!-- /.modal-dialog 
</div><!-- /.modal -->

  <!-- USER -->
  <div id="user" class="row mt40 hide tela">
     
             <div class="tabbable tabs-left col-sm-7">

                <div class="tab-content">
                        <a href="#" data-toggle="modal" data-target="#modalCadastroUser" style="margin-bottom:10px" class="btn btn-success" role="button"><span class="glyphicon glyphicon-plus"></span></a>

                    <!-- input buscar -->
                        <div class="">
                                <div class="input-group">

                                  <input type="text" class="form-control" ng-model="buscar.descricao">

                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                      
                                      <span class="glyphicon glyphicon-search"></span>

                                    </button>
                                  </span>
                                </div>
                        </div>
                      <!-- fim input buscar -->
                  
                    <table class="table">
                      <th>Data de cadastro</th>
                      <th>Nome</th>
                      <tbody>
                        <tr ng-repeat="use in users | filter:buscar" ng-click="visualizarUser($index,use)" ng-class="{'active': $index == ativo_user}">
                          <td>{{use.data_cadastro}}</td>
                          <td>{{use.nome}}</td>
                        </tr>
                      </tbody>
                    </table>

                </div>

           
            </div>

            <div class="tab-content col-sm-5 tab-conteudo">
              <h4 id="nome">
                {{user_view.nome}}
              </h4>
              <hr>
              <label><strong>E-mail:</strong><label>{{user_view.email}}</label></label
              <label><strong>Ativo:</strong> <label id="ativo">{{user_view.ativo == 1 && 'SIM' || 'NÃO'}}</label></label>
              <label><strong>Data Cadastro:</strong> <label>{{user_view.data_cadastro}}</label></label>

               <a href="#" data-toggle="modal" data-target="#modalCadastroUser"  class="btn-md tip" role="button" data-toggle="tooltip" title="Editar"><span class="glyphicon glyphicon-edit"></span></a>

              <a id="deletar_contato" class="tip" data-toggle="tooltip" title="Deletar" style="margin-bottom:10px"  role="button" ng-click="deletarUser(user_view.id)"><span class="glyphicon glyphicon-trash"></span></a>

            </div>

   </div> 

</div>

<!-- Modal Cadastro User -->
<div class="modal fade" id="modalCadastroUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Cadastro</h4>
      </div>
      <div class="modal-body">

        <form name="formCadastro">
          <input type="hidden" value="0" ng-model="user_view.id">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nome"  ng-model="user_view.nome">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="E-mail"  ng-model="user_view.email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control"  placeholder="Senha"  ng-model="user_view.senha">
          </div>
          <div class="form-group">
            <label>Ativo:</label>
            <select class="form-control" ng-model="user_view.ativo">
              <option value="1">SIM</option>
              <option value="0">NÃO</option>
            </select>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="salvarUser()">Salvar</button>
      </div>
    </div> <!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
   
<!-- Loading Ajax -->
<div id="carregando" style="display: none">
   Aguarde...
</div>
 

<!-- ========= -->
<!-- Libraries -->
<!-- ========= -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/funcoes.js"></script>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="js/vendor/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="js/vendor/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="js/vendor/jQuery-File-Upload/js/jquery.fileupload.js"></script>

<script>
$(function () {
    // Change this to the location of your server-side upload handler:
    /*var url = 'server/';
    $('#fileupload').fileupload({
        url: url,
        dataType: 'json',
        maxFileSize: 3000000,
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
              $('#files').html('<img style="width:200px !important; border: 5px solid #ed5c1f;" src="server/files/thumbnail/'+file.name+'">');
                //$('<img width="30" src="server/files/thumbnail/'+file.name+'>').appendTo('#files');
                $("#imagem_capa").val(file.name);
            });
        },
        fail: function (e, data) {
            $.each(data.messages, function (index, error) {
                $('<p style="color: red;">Erro de envio: ' + error + '<i class="elusive-remove" style="padding-left:10px;"/></p>')
                .appendTo('#files');
            });
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    }).prop('disabled', !$.support.fileInput)
      .parent().addClass($.support.fileInput ? undefined : 'disabled');*/
});
</script>

</body>
</html>